@font-face {
    font-family: FontAwesome;
    src: url('./fontawesome-webfont.woff2');
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    xbackground-color: red;
}
.fa-fw {
  width: 1.3em;
  text-align: center;
}
.fa-lg {
   font-size: 1.5em;
   line-height: 0.66666em; 
}
.fa-2x {
  font-size: 2em;
  line-height: 0.5em;
}
.fa-3x {
    font-size: 3em;
    xline-height: 0.333333em;
    xvertical-align: -15%;
}
.fa-4x {
    font-size: 4em;
}
.fa-5x {
    font-size: 5em;
}

.fa-music::before {
    content: '\f001';
}
.fa-search::before {
    content: '\f002';
}
.fa-ele::before {
    content: '\f003';
}
